@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Tenor+Sans&display=swap");

/* Общие стили */

body {
  font-family: "Raleway", sans-serif;
  /* font-family: "Tenor Sans", sans-serif; */
  font-size: 16px;
}
.container {
  max-width: 1270px; /*main 1240px */
  padding: 0 15px;
  margin: 0 auto;
}
p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
}

/* Header */

header {
  background: #0e402d;
  color: #fff;
  height: 78px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-top: 29px;
}
.header__nav ul li a {
  font-weight: 300;
  line-height: 19px;
  padding-right: 65px;
}
.header__lang {
  display: flex;
  margin-top: 29px;
}
.header__tel {
  font-family: "Tenor Sans";
  padding-right: 47px;
}

.lang__ua,
.lang__ru {
  padding-right: 25px;
  position: relative;
}
.lang__ua::before,
.lang__ru::before {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  width: 1px;
  height: 26px;
  background: #c4c4c4;
}
.header__lang__items a:first-child {
  color: #ff8427;
}

/* main */

main {
  background: #0e402d;
  height: 708px;
}
.main__text {
  width: 500px;
}
.main__text h1 {
  font-family: "Tenor Sans";
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 93.6px;
  padding-top: 156px;
  text-transform: uppercase;
}
.main__text p {
  font-size: 20px;
  line-height: 23px;
  padding-top: 14px;
}
.main__img {
  background: url(./img/image.png);
  width: 678px;
  height: 708px;
  margin-left: 100px;
}
.main__btn {
  width: 258px;
  height: 52px;
  background: #ff8427;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}
.main__btn a {
  color: #fff;
  font-weight: 700;
  line-height: 19px;
}
.main__social__icons ul {
  display: flex;
}
.main__social__icons ul li {
  width: 30px;
  height: 30px;
  background: #fff;
  margin-right: 40px;
  margin-top: 146px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__social__icons ul li a {
  display: flex;
  justify-content: center;
}

/* content */

.content {
  height: 826px;
  margin-top: 120px;
}
.content__img {
  background: url(./img/image1.png);
  width: 587px;
  height: 586px;
  margin-right: 75px;
  margin-bottom: 120px;
}
.content_about {
  width: 578px;
  margin-top: 76px;
}
.content__btn {
  color: #ff8427;
  font-weight: 700;
  width: 258px;
  height: 52px;
  background: #fff;
  border: 1px solid #ff8427;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
.content_about h3 {
  color: #1a181b;
  font-family: "Tenor Sans";
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 13px;
}
.content_about p,
.content_about p {
  color: #1a181b;
  font-size: 18px;
}
.content_about p:nth-child(3) {
  font-weight: 700;
  margin-top: 14px;
}
.content__wrapper {
  height: 736px;
  background: #0e402d;
}
.content__wrapper h3 {
  color: #ff8427;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  padding-top: 120px;
}
.content__wrapper .content__disease {
  width: 260px;
  position: relative;
  margin-top: 120px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-right: 67px;
}
.content__disease::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 46px;
  opacity: 0.2;
  border: 2px solid #fff;
  top: 0;
  left: 275px;
}
.content__disease:last-child::before {
  display: none;
}

.content__disease__about ul {
  margin-top: 47px;
  margin-right: 70px;
  position: relative;
}
.content__disease__about ul li {
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
  list-style-type: disc;
  width: 242px;
  color: #ff8427;
}
.content__disease__about ul li span {
  color: #fff;
}

/* slider */

.slider {
  height: 894px;
}
.slider .container {
  display: block;
  margin-top: 84px;
}
.slider h3 {
  color: #1a181b;
  font-family: "Tenor Sans";
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-top: 120px;
}
.slider__fst,
.slider__scnd,
.slider__thrd {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #0e402d;
  border-radius: 50%;
}
.slider__fst span,
.slider__scnd span,
.slider__thrd span {
  position: absolute;
  font-family: "Tenor Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a181b;
  top: -4px;
  left: 17px;
}
.slider__fst,
.slider__scnd {
  margin-bottom: 255px;
}
.slider__fst::after,
.slider__scnd::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 5px;
  height: 255px;
  width: 1px;
  background: #1d7874;
  opacity: 0.3;
}
.slider .active {
  background: #ff8427;
  border: 1px solid #ff8427;
}

/* .slider .items {
  display: flex;
  width: 1233px;
} */
/* .slider .items p {
  color: #000;
} */
/* .slider .items .slider__items__box {
  width: 322px;
}


/* slider__reviews */

.slider__reviews {
  height: 789px;
  background: #0e402d;
}
.slider__reviews .container {
  display: block;
}
.slider__reviews__header {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 20px;
}
.slider__reviews__header h3 {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #ff8427;
}
.slider__reviwes__btn {
  width: 258px;
  height: 52px;
  border: 1px solid #fff;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__reviwes__btn a {
  text-decoration: none;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}
.slider__reviews p {
  width: 404px;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 59px;
}
.slider__reviews__main {
  height: 295px;
  display: flex;
  justify-content: space-between;
}

.left__btn,
.right__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: 104px;
}
.left__btn {
  margin-left: 60px;
}
.left__btn a {
  background: url(./img/icons/left.png);
}
.right__btn {
  margin-right: 60px;
}
.slider__img {
  display: flex;
}
.slider__photo {
  width: 230px;
  height: 215px;
  margin-right: 42px;
  background-image: url(./img/ПЕРСОНА-Ж\1png);
}
.slider__info,
.slider__info p {
  width: 515px;
}
.slider__info h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}
.slider__info h5 {
  font-family: "Tenor Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 18px;
}
